html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  color: black;
  background: #d2d2d2;
  border: none;
  text-shadow: none;
  height: 40px;
  width: 180px;
  border-radius: 20px;
}

.ant-btn-primary {
  color: black;
  background: #c3c3c3;
  border: none;
  text-shadow: none;
  height: 40px;
  width: 180px;
  border-radius: 20px;
}

textarea.ant-input {
  border-radius: 15px;
  background: transparent;
  color: black;
  border: 1px solid #c3c3c3;
}
